.section.testimonial{
    --size-testimonil-card:calc( var(--size-container) / 3 - 100px);
    --size-testimonil-card-height:250px;
    .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        h2{
            width: 100%;
        }
    }    
    .testimonial-card{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        width: var(--size-testimonil-card );
        /* height: var( --size-testimonil-card-height); */
        padding: 10px;
        background: #fff;
        border-radius: 5px;
        border:1px solid rgba(#000,0.3) ;
        img{
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }
        .testimonial-title ,
        .description{
            width: 100%;
        }   
    }
}