.section.computers .container {
  max-width: 100%;
  width: 100%; }

.section.computers .container-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.section.computers .button-m-products {
  margin: 30px auto; }

.section.computers .products-title,
.section.computers .products-p,
.section.computers .container-products {
  width: 100%; }

.section.computers .products {
  display: grid;
  grid-template-rows: repeat(6, 160px);
  grid-template-columns: repeat(5, 1fr);
  /* height: 100vh; */ }
  .section.computers .products .span-1-1 {
    grid-row: span 1;
    grid-column: span 1; }
  .section.computers .products .span-2-1 {
    grid-row: span 1;
    grid-column: span 2; }
  .section.computers .products .span-1-2 {
    grid-row: span 2;
    grid-column: span 1; }
  .section.computers .products .span-2-2 {
    grid-row: span 2;
    grid-column: span 2; }
