<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title CompuFy
        link(rel="stylesheet", href="styles/style.css")
    body
        header.header
            section.section.header-sub
                .container
                    .container-logo
                        h2.logo Compufy
                    //Incluimos la parte del menu.
                    include components/nav-menu   
        main
            section.section.home(id= itemsMenu[0])
                .container
                    include components/section-home
                span.fill    
            section.section.aboutus(id= itemsMenu[1])
                .container
                    include components/section-about
            section.section.computers(id= itemsMenu[2])
                .container
                    include components/section-product 
            section.section.testimonial(id= itemsMenu[3])
                .container
                    include components/section-testimonial
            section.section.contact(id= itemsMenu[4])
                .container
                    include components/section-contact    
        footer  
            section.section.footer
                .container