.container-contact
    h2.contact-title Contacto.
        .container-form
            form.form-contact(action="")
                input(type="text" placeholder="Nombre:").input-form.text
                input(type="text" placeholder="Apellido:").input-form.text
                input(type="email" placeholder="Correo:").input-form.email
                textarea(name="textArea",placeholder="Comentario").textarea-form
                .container-button
                    input(type="submit" value="Enviar").button-form
                    input(type="reset" value="Cancelar").button-form
