.container-info
    h1.info-title Ensamble de <br> Computadoras Gamer.
    h3.info-subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
.container-button
    a.button-home(href="#")= '¡QUIERO UN PRESUPUESTO!'