//El arreglo 'itemsMenu' pertece al archivo nav-menu, donde fueron declaradas.
-
    const contentP = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit,'+ 
        'sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'+
         'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi '+
         'ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse '
.container-about
    h2.about-title= itemsMenu[1]
    h3.about-subtitle= '¿Quienes somos?'
    p.about-p= contentP